<h1>Existing User Login</h1>

<p class="login-error"></p>

<form method="POST" action="/users/login">
    <label for="email-input">Email</label>
    <input type="text" name="email">

    <label for="password-input">Password</label>
    <input type="password" name="password">

    <input type="submit">
</form>